<ion-header>
  <ion-toolbar>
    <ion-title>Add Product</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="Modalclose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="ItemData" class="form_">

    <!-- <ion-item no-padding lines="none" class="items_ shadow_input">
      <ion-input placeholder="Product Name" type="text" formControlName="name" (ionChange)="search($event.target.value)"
        debounce=500 class="input_"></ion-input>
    </ion-item>


    <div *ngIf="allProductList.length && allProductList.length > 0" class="div_list">
      <ion-item lines="full" class="item_list" *ngFor="let product of allProductList" (click)="selectEvent(product)">
        <div class="item_name">
          <p class="item_display">{{product.name}}</p>
          <p class="price_display">Price : {{product.price}}</p>
        </div>
      </ion-item>
    </div> -->

    <!-- <ng-autocomplete [data]="products" [searchKeyword]="keyword" placeHolder="Product Name"
      (selected)='selectEvent($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
      formControlName="name">
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
      <div class="div_data">
        <a [innerHTML]="item.name" class="name_data"></a>
      <a class="phn_data">Price:{{item.price}}</a>
      
      </div>
    </ng-template> -->

    <ion-item no-padding lines="none" class="items_ shadow_input">
      <ion-input placeholder="Product Name" type="text" formControlName="name"
        debounce=500 class="input_"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="ItemData.controls.name.hasError('required') && ItemData.controls.name.touched">
      <p class="content">Please Enter Product Name!</p>
    </ion-item>

    <ion-item no-padding lines="none" class="items_ shadow_input">
      <ion-input type="number" placeholder="Price" formControlName="price" class="input_"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="ItemData.controls.price.hasError('required') && ItemData.controls.price.touched">
      <p class="content">Please Enter Price!</p>
    </ion-item>

    <ion-item no-padding lines="none" class="items_ shadow_input">
      <ion-input type="number" placeholder="Quantity" formControlName="qty" class="input_"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="ItemData.controls.qty.hasError('required') && ItemData.controls.qty.touched">
      <p class="content">Please Enter Quantity!</p>
    </ion-item>

    <ion-item no-padding lines="none" class="items_ shadow_input">
      <ion-input type="text" placeholder="HSN Code" formControlName="hsncode" class="input_"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="ItemData.controls.hsncode.hasError('required') && ItemData.controls.hsncode.touched">
      <p class="content">Please Enter HSN Code!</p>
    </ion-item>

    <ion-item no-padding lines="none" class="items_ shadow_input">
      <ion-input type="text" placeholder="Details" formControlName="descname" class="input_"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="ItemData.controls.descname.hasError('required') && ItemData.controls.descname.touched">
      <p class="content">Please Enter Details!</p>
    </ion-item>

    <div class="div_btn">
      <ion-button expand="full" size="large" shape="round" class="btn_ shadow_btn" (click)="fnAddItem()">Add Product
      </ion-button>
    </div>

  </form>

</ion-content>