<ion-header>
  <ion-toolbar>
    <ion-title>Edit Expenses</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="expData" class="form_">

    <ion-item no-padding lines="none" class="items_ shadow_input">
      <ion-input type="number" placeholder="Expense Amount" formControlName="amount" class="input_"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="expData.controls.amount.hasError('required') && expData.controls.amount.touched">
      <p class="content">Please Enter Expense Amount!</p>
    </ion-item>

    <ion-item no-padding lines="none" class="items_ shadow_input">
      <ion-input type="number" placeholder="Tax %" formControlName="tax" class="input_"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="expData.controls.tax.hasError('required') && expData.controls.tax.touched">
      <p class="content">Please Enter Tax!</p>
    </ion-item>

    <ion-item no-padding lines="none" class="items_ shadow_input">
      <ion-select interface="action-sheet" placeholder="Vendors" formControlName="vendor" class="dropWidth_" mode="md" [(ngModel)]="selectedvendor">
        <ion-select-option *ngFor="let opt of vendors" [value]="opt.id">{{opt.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="expData.controls.vendor.hasError('required') && expData.controls.vendor.touched">
      <p class="content">Please Select Vendors!</p>
    </ion-item>

    <ion-item no-padding lines="none" class="items_ shadow_input">
      <ion-select interface="action-sheet" placeholder="Expense Category" formControlName="category" class="dropWidth_"
        mode="md" [(ngModel)]="selectedcategory">
        <ion-select-option *ngFor="let opt of expense_category" [value]="opt.id">{{opt.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="expData.controls.category.hasError('required') && expData.controls.category.touched">
      <p class="content">Please Select Expense Category!</p>
    </ion-item>

    <ion-item no-padding lines="none" class="items_ shadow_input">
      <ion-datetime displayFormat="DD-MM-YYYY" formControlName="date" placeholder="Date"
        class="dropWidth_"></ion-datetime>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="expData.controls.date.hasError('required') && expData.controls.date.touched">
      <p class="content">Please Select Date!</p>
    </ion-item>

    <ion-item no-padding lines="none" class="items_ shadow_input">
      <ion-input type="text" placeholder="Notes" formControlName="notes" class="input_"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="expData.controls.notes.hasError('required') && expData.controls.notes.touched">
      <p class="content">Please Enter Notes!</p>
    </ion-item>

  </form>

</ion-content>
<ion-footer>
  <div class="div_btn">
    <ion-button expand="full" size="large" class="btn_ shadow_btn" (click)="save()">Save
    </ion-button>
  </div>
</ion-footer>