<ion-header>
  <ion-toolbar>
    <ion-title>Signature Pad</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="Modalclose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="div_pad">
    <signature-pad [options]="signaturePadOptions"></signature-pad>
  </div>

  <ion-row class="row_">
    <ion-col class="col_">
      <ion-button shape="round" expand="full" class="btn_ shadow_btn" (click)="drawComplete()">Save</ion-button>
    </ion-col>
    <ion-col class="col_">
      <ion-button shape="round" expand="full" fill="outline" class="btn_ shadow_btn" (click)="Cancel()">Cancel</ion-button>
    </ion-col>
  </ion-row>

</ion-content>