ion-content {
  .div_main {
    height: 148px;
    padding: 28px;
    .div_img {
      height: 100px;
      width: 100px;
      margin: 0 auto;
      background: var(--ion-color-light);
      box-shadow: 0 4px 4px var(--ion-color-light-shade);
      border-radius: 50px;
      padding: 26px 21px;
      text-align: center;
      .img_ {
        height: 48px;
        padding-left: 6px;
      }
    }
  }
  .form_ {
    margin: 16px 0px;
    .item_ {
      --background: var(--ion-color-light);
      border-radius: 24px;
      width: 84%;
      margin: 0 auto;
      --padding-start: 24px;
      --inner-padding-end: 12px;
      margin-top: 16px !important;
      .input_ {
        background: var(--ion-color-light);
        font-size: 14px;
        color: var(--ion-color-dark);
      }
      .dropWidth_ {
        font-size: 14px;
        color: var(--ion-color-dark);
        min-width: 100%;
        --padding-start: 0px;
        --padding-end: 6px;
        --placeholder-opacity: .5;
      }
    }
    .div_btn {
      margin: 32px 0px;
      .btn_ {
        width: 84%;
        margin: 0 auto;
        font-size: 14px;
      }
    }
  }
}