ion-content {
  .div_bills {
    .lbl_stick {
      display: block;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      padding: 12px;
      background: var(--ion-color-light);
      color: var(--ion-color-primary);
    }
    .lbls_ {
      display: block;
      font-size: 14px;
      padding: 12px;
      border-bottom: .5px solid var(--ion-color-light);
    }
  }
}
