<ion-header>
  <ion-toolbar>
    <ion-title>Select Multiple Items</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="modalClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="isEmptyImg" *ngIf="(ItemData?.length == 0 || ItemData == null) && InvoiceLoader">
    <img src="/assets/imgs/noItems.png" class="img_profile" />
  </div>

  <div class="div_item">
    <ion-row class="row_item" *ngFor="let item of ItemData;let i = index">
      <ion-col size="8" class="col_item">
        <ion-label class="lbl_Name">Name: {{item.name}} <span *ngIf="item.hsncode">[{{item.hsncode}}]</span></ion-label>
        <ion-label class="lbl_Price">Price: {{item.price | number:'2.2'}} </ion-label>
        <ion-label class="lbl_Price total_">Total: {{item.qty * item.price | number:'2.2'}}</ion-label>
        <!-- {{item.qty}} * {{item.price }} =  -->
      </ion-col>
      <ion-col size="4" class="col_item center_">
        <ion-label class="lbl_DecInc" (click)="itemDec(item)">-</ion-label>
        <ion-label class="lbl_Qty">{{item.qty}}</ion-label>
        <ion-label class="lbl_DecInc" (click)="itemInc(item)">+</ion-label>
      </ion-col>
    </ion-row>
  </div>

</ion-content>

<ion-footer>
  <ion-button expand="full" color="primary" class="btn_bottom" *ngIf="(ItemData?.length == 0 || ItemData == null)"
    (click)="addNew()">Add New Item</ion-button>
  <ion-row class="row_footer" *ngIf="(ItemData?.length >= 1)">
    <ion-col size="6" class="col_footer">
      <ion-button expand="full" color="secondary" class="btn_footer" (click)="addNew()">
        Add New</ion-button>
    </ion-col>
    <ion-col size="6" class="col_footer">
      <ion-button expand="full" color="primary" class="btn_footer" (click)="submit()">
        Submit</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>