ion-content {
  .div_OTP {
    padding: 28px 0px 28px 0px;
    .div_otps {
      text-align: center;
      height: 100px;
      width: 100px;
      margin: 0 auto;
      background: var(--ion-color-light);
      box-shadow: 0 4px 4px var(--ion-color-light-shade);
      border-radius: 50px;
      padding: 26px 21px;
      text-align: center;
      .icon_otp {
        color: var(--ion-color-dark);
        font-size: 50px;
      }
    }
    .lbl_head {
      display: block;
      font-size: 16px;
      text-align: center;
      color: var(--ion-color-dark);
      font-weight: bold;
      padding: 16px 0px 8px 0px;
    }
    .lbl_desc {
      display: block;
      font-size: 12px;
      text-align: center;
      color: var(--ion-color-dark);
    }
    .lbl_remain {
      display: block;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      color: var(--ion-color-dark);
      padding: 16px 0px 0px 0px;
    }
    .item_ {
      --background: var(--ion-color-light);
      border-radius: 24px;
      margin: 16px 0px 0px 0px;
      --padding-start: 24px;
      --inner-padding-end: 12px;
      .icon_ {
        font-size: 18px;
        color: var(--ion-color-dark);
      }
      .input_ {
        background: var(--ion-color-light);
        font-size: 14px;
        color: var(--ion-color-dark);
      }
    }
    .lbl_resend {
      display: block;
      font-size: 12px;
      text-align: center;
      color: var(--ion-color-dark);
      font-weight: bold;
      padding: 16px 0px 0px 0px;
    }
    .form_ {
      margin: 16px 0px;
      .item_ {
        --background: var(--ion-color-light);
        border-radius: 24px;
        width: 84%;
        margin: 0 auto;
        --padding-start: 24px;
        --inner-padding-end: 12px;
        margin-top: 32px;
        .icon_ {
          font-size: 18px;
          color: var(--ion-color-dark);
        }
        .input_ {
          background: var(--ion-color-light);
          font-size: 14px;
          color: var(--ion-color-dark);
        }
      }
      .lbl_back {
        display: block;
        text-align: center;
        font-size: 14px;
        text-decoration: underline;
        color: var(--ion-color-dark);
      }
      .div_btn {
        margin: 32px 0px;
        .btn_ {
          height: 44px;
          width: 84%;
          margin: 0 auto;
          font-size: 14px;
        }
      }
    }
  }
}
.lbl_ {
  color: var(--ion-color-primary);
  font-weight: bold;
}
