<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Expenses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="loadData(true, $event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <div class="isEmpty" *ngIf="expenseAll?.length == 0 || expenseAll == null">
    <ion-label class="lbl_empty">No Record Found!</ion-label>
  </div>
  
  <!-- All Expense Start -->
    <div>
      <ion-searchbar placeholder="Search..." class="search_" (ionChange)="searchBar($event.target.value)"></ion-searchbar>
      <div class="div_list">
        <div class="div_row" *ngFor="let opt of expenseAll; let i = index">
          <ion-row class="row_list">
            <ion-col size="8" class="col_list">
              <ion-label class="lbl_name">{{opt.vendor_name}}</ion-label>
            </ion-col>
            <ion-col size="4" class="col_list right_">
              <ion-icon name="create" class="more_" (click)="editExp(opt.id)"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row class="row_list row_">
            <ion-col size="7" class="col_list">
              <ion-label class="lbl_no">{{opt.cat_name}}</ion-label>
            </ion-col>
            <ion-col size="5" class="col_list right_">
              <ion-label class="lbl_date">{{opt.date}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="row_list">
            <ion-col size="8" class="col_list">
              <ion-label class="lbl_total">Total : ₹ {{opt.amount | number:'2.2'}}</ion-label>
            </ion-col>
            <ion-col size="4" class="col_list right_">
              <ion-icon name="trash" class="icon_" (click)="delete(opt.id)"></ion-icon>
            </ion-col>
          </ion-row>
        </div>
      </div>
    
    <!-- All Invoice Tab Start -->
  </div>

  <!-- Create Invoice Button -->
  <div class="div_fab">
    <ion-button shape="round" size="large" class="btn_ shadow_btn" (click)="addExp()">
      <ion-icon name="add-circle" class="btn_icon"></ion-icon>Add Expenses
    </ion-button>
  </div>

</ion-content>