<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalClose()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Recurring History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="Recuring" class="form_">

    <ion-item no-padding lines="none" class="item_ shadow_input">
      <ion-datetime type="date" formControlName="start_date" displayFormat="DD-MM-YYYY" placeholder="Payment Date"
        class="date_" min="{{date}}" max="2050">
      </ion-datetime>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="Recuring.controls.start_date.hasError('required') && Recuring.controls.start_date.touched">
      <p class="content">Please Select Date!</p>
    </ion-item>


    <ion-item no-padding lines="none" class="item_ shadow_input">
      <ion-select interface="action-sheet" placeholder="Recuring Method" formControlName="recuring_method"
        class="dropWidth_" mode="md">
        <ion-select-option value="7">Weekly</ion-select-option>
        <ion-select-option value="14">2 Weeks</ion-select-option>
        <ion-select-option value="21">3 Weeks</ion-select-option>
        <ion-select-option value="30">Monthly </ion-select-option>
        <ion-select-option value="60">2 Months </ion-select-option>
        <ion-select-option value="120">4 Months</ion-select-option>
        <ion-select-option value="180">6 Months</ion-select-option>
        <ion-select-option value="365">Yearly</ion-select-option>
        <ion-select-option value="730">2 Years</ion-select-option>
        <ion-select-option value="1095">3 Years</ion-select-option>
        <ion-select-option value="1825">5 Years</ion-select-option>

      </ion-select>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="Recuring.controls.recuring_method.hasError('required') && Recuring.controls.recuring_method.touched">
      <p class="content">Please Select Payment Method!</p>
    </ion-item>

    <ion-item no-padding lines="none" class="item_ shadow_input">
      <ion-datetime type="date" formControlName="end_date" displayFormat="DD-MM-YYYY" placeholder="Payment Date"
        class="date_">
      </ion-datetime>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="Recuring.controls.end_date.hasError('required') && Recuring.controls.end_date.touched">
      <p class="content">Please Select Date!</p>
    </ion-item>

    <div class="div_btn">
      <ion-button expand="block" shape="round" class="btn_ shadow_btn" (click)="submit()">Finish Setup</ion-button>
    </div>

  </form>
</ion-content>